.navbar {
    font-size: 1rem;
    font-family: Roboto;
    background-color: #fbc3bc;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar img {
    width: 150px;
    height: 100px;
    margin-left: 5%;
    margin-right: 50px;
}

.navbar h1 {
    margin-right: 50px;
    text-align: center;
    color: #ff5757;
}

@media screen and (max-width: 525px) {
    .navbar {
        font-size: 0.75rem;
    }

    .navbar img {
        width: 100px;
        height: 75px;
        margin-left: 5%;
        margin-right: 20px;
    }

    .navbar h1 {
        margin-right: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    .navbar {
        font-size: 0.75rem;
    }

    .navbar img {
        width: 100px;
        height: 75px;
        margin-left: 5%;
        margin-right: 20px;
    }

    .navbar h1 {
        margin-right: 20px;
        text-align: center;
    }

    .navbar h1 span {
        display: none;
    }
}