.form-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-title {
    display: flex;
    width: 25%;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .form-title label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-title input {
    width: 100%;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 50px;
    font-size: 20px;
  }
  
  
  .form-type-select {
    display: flex;
    width: 25%;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .form-type-select p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-type-select select {
    width: 50%;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 50px;
  }
  
  .form-type-select select option {
    font-size: 20px;
  }
  
  .form-date-time {
    display: flex;
    width: 25%;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .form-date-time p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-date-time input {
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 50px;
  }
  
  .form-duration {
    display: flex;
    width: 25%;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .form-duration p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-duration input {
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 50px;
  }
  
  .form-desc {
    display: flex;
    width: 25%;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .form-desc p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-desc input {
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 50px;
  }

  .form-desc textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 50px;
  }
  
  .form-component button {
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 10px;
  }

  .form-component button:hover{
    background-color: #3e8e41
  }

  .form-component button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }